<div class="dialogo-detalle-contenedor">
    <h2>Informacion del vehiculo:</h2>

    <p class="subtitle">Placa:</p>
    <p>{{ vehiculo.Placa }}</p>

    <p class="subtitle">Tipo:</p>
    <p>{{ vehiculo.Tipo }}</p>

    <p class="subtitle">Marca:</p>
    <p>{{ vehiculo.Marca }}</p>

    <p class="subtitle">Modelo:</p>
    <p>{{ vehiculo.Modelo }}</p>

    <p class="subtitle">Cilindraje:</p>
    <p>{{ vehiculo.Cilindraje }}</p>

    <p class="subtitle">Numero de pasajeros:</p>
    <p>{{ vehiculo.NumeroPasajeros }}</p>

    <p class="subtitle">Pais:</p>
    <p>{{ vehiculo.Pais }}</p>

    <p class="subtitle">Descripción:</p>
    <p>{{ vehiculo.Descripcion }}</p>

</div>