.layout-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: 4rem 1fr;

    .layout-topbar {
        grid-column: 1/3;
        grid-row: 1;
        background-color: rgb(174, 152, 209);
    }

    .layout-sidemenu {
        grid-column: 1;
        grid-row: 2;
        background-color: rgb(235, 223, 255);
    }

    .layout-body {
        grid-column: 2/3;
        grid-row: 2;
        overflow: auto;
    }

    // .layout-footer {
    //     grid-column: 1/3;
    //     grid-row: 3;
    //     background-color: rgb(166, 140, 204);
    // }
}

@media (max-width: 900px) {
    .layout-container {
        display: flex;
        flex-direction: column;
    }
}