<div class="contenedor">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="JefeOperacionesId"
        type="text"
        placeholder="Ingrese el # de identificación del Cliente"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="Nombre"
        type="text"
        placeholder="Ingrese el Nombre"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="Apellido"
        type="text"
        placeholder="Ingrese el Apellido"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="Telefono"
        type="number"
        placeholder="Ingrese el valor del Telefono"
        minlength="7"
        maxlength="10"
        min="1000000"
        max="9999999999"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="Correo"
        type="email"
        placeholder="Ingrese el valor para el Correo Electrónico"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <!-- #docregion toggle -->
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="FechaNacimiento"
        placeholder="Ingrese el valor para la Fecha de Nacimiento"
        required
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!-- #enddocregion toggle -->
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="Contrasenia"
        type="password"
        placeholder="Ingrese el valor para la Contraseña"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <select
        matNativeControl
        required
        [(ngModel)]="Rol"
        placeholder="Seleccione el Rol Asignado"
      >
        <option value="JefeOperaciones">Jefe Operaciones</option>
      </select>
    </mat-form-field>
    <!---<button mat-raised-button color="primary" (click)="sumar()">Sumar</button>-->
    <button mat-raised-button color="primary" type="submit">Crear Jefe Operaciones</button>
  </div>
  