<app-layout>
  <div topbar class="jefe-topbar">
    <p>{{ (jefeOperacionesInfo$ | async)?.Nombre }} {{ (jefeOperacionesInfo$ | async)?.Apellido }}</p>
    <button mat-raised-button color="primary" routerLink="/">Salir</button>
  </div>
  <div sidemenu class="jefe-menu-lateral">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOcCR9Qg_yFyOD4CA6ITWOGJM02y9JqwwLLA&usqp=CAU"
      alt="">
    <div>
      <h3>{{ (jefeOperacionesInfo$ | async)?.Nombre }} {{ (jefeOperacionesInfo$ | async)?.Apellido }}</h3>
      <p class="jefe-menu-lateral-info__title">Correo:</p>
      <p>{{ (jefeOperacionesInfo$ | async)?.Correo }}</p>
      <p class="jefe-menu-lateral-info__title">Telefono:</p>
      <p>{{ (jefeOperacionesInfo$ | async)?.Telefono }}</p>
      <p class="jefe-menu-lateral-info__title">Fecha nacimiento:</p>
      <p>{{ (jefeOperacionesInfo$ | async)?.FechaNacimiento | date: 'longDate' }}</p>
    </div>
  </div>
  <div body>
    <div class="jefe-rutas">
      <button mat-raised-button color="primary" routerLink="./clientes">Clientes</button>
      <button mat-raised-button color="primary" routerLink="./vehiculos">Vehiculos</button>
      <button mat-raised-button color="primary" routerLink="./mecanicos">Mecanicos</button>
      <button mat-raised-button color="primary" routerLink="./repuestos">Repuestos</button>
      <button mat-raised-button color="primary" routerLink="./revisiones">Revisiones</button>
    </div>
      <router-outlet></router-outlet>
  </div>
  <!-- <div footer>Pie de pagina</div> -->
</app-layout>