<app-layout>
  <div topbar>Topbar</div>
  <div sidemenu><app-side-menu></app-side-menu></div>
  <div body>
    <div class="contenedor">
      <mat-form-field>
        <input matInput [(ngModel)]="VehiculoId" type="text" placeholder="Ingrese el # de id del Vehículo" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="Placa" type="text" placeholder="Ingrese el Valor de la Placa para el Vehículo"
          required />
      </mat-form-field>
      <mat-form-field>
        <select matNativeControl required [(ngModel)]="Tipo" placeholder="Seleccione el valor para el Tipo de Vehículo">
          <option value="Buseta">Buseta</option>
          <option value="Microbús">Microbús</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="Marca" type="text" placeholder="Ingrese la Marca del Vehículo" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="Modelo" type="number" placeholder="Ingrese el Modelo del Vehículo" minlength="4"
          maxlength="4" min="1900" max="2024" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="NumeroPasajeros" type="number"
          placeholder="Ingrese el Numero de Pasajeros del Vehículo" minlength="1" maxlength="2" min="1" max="99" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="Cilindraje" type="number" placeholder="Ingrese el Valor del Cilindraje del Vehículo"
          minlength="3" maxlength="4" min="100" max="9999" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="Pais" type="text" placeholder="Ingrese el valor para el Pais del Vehículo" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="Descripcion" type="text"
          placeholder="Ingrese el valor para la Descripcion del Vehículo" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="ClienteId" type="text" placeholder="Ingrese el valor para el Id del Propietario"
          required />
      </mat-form-field>
      <!--<mat-form-field>
            <select
              matNativeControl
              required
              [(ngModel)]="ClienteId"
              placeholder="Seleccione el valor para el Propietario del Vehículo"
            >
              <option value="Armenia">Armenia</option>
              <option value="Bogotá">Bogotá</option>
              <option value="Barranquilla">Barranquilla</option>
              <option value="Cali">Cali</option>
              <option value="Manizales">Manizales</option>
              <option value="Medellin">Medellin</option>
              <option value="Pasto">Pasto</option>
              <option value="Pereira">Pereira</option>
            </select>
          </mat-form-field>-->
      <!---<button mat-raised-button color="primary" (click)="sumar()">Sumar</button>-->
      <button mat-raised-button color="primary" type="submit">Crear Vehículo</button>
    </div>
  </div>
  <div footer>Pie de pagina</div>
</app-layout>


