<div class="side-menu-container">
    <button mat-raised-button color="primary" routerLink="/usuarios">Usuarios</button>
    <button mat-raised-button color="primary" routerLink="/vehiculos">Vehículos</button>
    <button mat-raised-button color="primary" routerLink="/mecanicos">mecanicos</button>
    <button mat-raised-button color="primary" routerLink="/jefe-operaciones">jefe-operaciones</button>
    <button mat-raised-button color="primary" routerLink="/revisiones">revisiones</button>
    <button mat-raised-button color="primary" routerLink="/repuestos">repuestos</button>
</div>

